.team-table {
  height: 75%;
  width: 73%;
  margin: 40px auto;
}
.project_team {
  padding-left: 5px;
}
.projectemployeeData {
  font-size: 23px;
}
.team-h1 {
  color: #f4f4f9;
  font-size: 40px;
}
@media (max-width: 768px) {
  .team-table {
    height: 65%;
    width: 68%;
    margin: 40px auto;
  }
}
@media (max-width: 680px) {
  .team-h1 {
    font-size: 35px;
    margin-top: 45px;
  }
}
@media (max-width: 480px) {
  .team-h1 {
    /* font-size: 30px; */
    margin-top: 45px;
    padding-right: 50px;
  }
}
