.visitor {
    display: flex;
  background-color: var(--primary);
}
.dark-mode{
    display: flex;
    background-color: var(--secondary);
    
}
.visitor-main {
  width: calc(90vw - 200px);
  margin: 0 auto;
 
}
