.visitor {
  display: flex;
  background-color: var(--primary);
}

.visitor-main {
  width: calc(100vw - 200px);
  margin: 0 auto;
  overflow-y: scroll;
  height: 100vh;
}
@media screen and (max-width: 768px) {

  .visitor-main {
    width: 100%;
  }
}
