:root {
  --primary: #16202a;
  --secondary: #f4f4f9;
  --accent: #4dedf5;
}
.employee_project_team div {
  background: linear-gradient(
    -120deg,
    #4b6069b0 10%,
    #273b46 60%,
    #0000002f 100%
  );
  transition: 0.5s;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #00000055;
  font-size: 25px;
}
.employee_project_team div:hover {
  box-shadow: 1px 1px 20px 1px var(--accent);
}
.employee_project_team {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.recently {
  background: linear-gradient(
    -120deg,
    #4b6069b0 10%,
    #273b46 60%,
    #0000002f 100%
  );
  overflow-y: scroll;
  transition: 0.5s;
  margin-top: 5%;
  max-width: 50%;
  width: 30%;
  height: 480px;
  border-width: 1px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 1px #2f4550;
}
.recently:hover {
  box-shadow: 1px 1px 20px 1px var(--accent);
}
.bottom {
  display: flex;
  justify-content: space-around;
}
.dash_title {
  display: flex;
  justify-content: center;
}
.dash_title h1 {
  margin-left: 10px;
  color: var(--secondary);
}
.dash_board_content {
  margin: auto;
}
@media (max-width: 1545px) {
  .employee_project_team div {
    width: 300px;
  }
  .recently {
    width: 400px;
  }
  .searchDash {
    margin-right: 50px;
  }
}

.dash_board_content .recently div {
  background-color: var(--primary);
}
.employee_project_team div {
  background-color: var(--primary);
}
.dash_board_content span {
  margin: 48%;
  font-size: 35px;
  color: var(--secondary);
}
